<!DOCTYPE html>
<html>
<head>
    <title>DivLingua Quiz</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>DivLingua Quiz</h1>
        <div id="quiz-container"></div>
        <div id="progress">Question 1 of 10</div>
        <button id="next-button">Next Question</button>
        <button id="submit-button" style="display: none;">Submit Answers</button>
        <div id="result"></div>
    </div>
    <script src="/static/js/quiz.js"></script>
</body>
</html>
